Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

Update eslint to latest version.
  package-lock.json
  package.json
Owners: none

Overhaul electron app startup code.
  src/main.ts
Owners: none

Release v2.5.0.
  CHANGELOG.md
  package-lock.json
  package.json
  src/main.ts
Owners: @headcr4sh

Prepare for next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Update markdownlint to latest version.
  package-lock.json
  package.json
Owners: none

Update Cspell to v6.4.0.
  .cspell.json
  package.json
Owners: none

Upgrade Web app manifest.
  manifest.webmanifest
Owners: none

Add config file for dependabot.
  .github/dependabot.yml
Owners: none

Update .cspell.json ignorePaths.
  .cspell.json
  README.md
Owners: none

Update dependencies.
  package-lock.json
  package.json
  src/Particles.ts
  src/Renderer.ts
  src/input/ControllerManager.ts
Owners: none

Update dependencies and prepare for Steamworks.js integration.
  .cspell.json
  .eslintignore
  .eslintrc.js
  .vscode/extensions.json
  .vscode/launch.json
  CHANGELOG.md
  SECURITY.md
  electron-forge.config.js
  jest.config.js
  package-lock.json
  package.json
  src/constants.ts
  src/main.ts
  src/test/graphics/AffineTransform.test.ts
  src/typings/steamworks.d.ts
  tsconfig.json
  webpack.config.ts
  webpack.main.config.js
  webpack.renderer.config.js
Owners: @headcr4sh, @kayahr

Update markdownlint-cli to v2.5.1.
  package-lock.json
  package.json
Owners: none

Update Electron to v19.0.10.
  package-lock.json
  package.json
Owners: none

Add steamworks.js dependency.
  package-lock.json
  package.json
  src/main.ts
Owners: none

Initialize steamworks.js.
  src/main.ts
Owners: none

Overhaul Electron window creation.
  electron-forge.config.js
  src/main.ts
Owners: none

Don't put shared libs in asar bundle.
  electron-forge.config.js
  webpack.renderer.config.js
Owners: none

Get rid of "master" branch.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Add CodeQL analysis workflow.
  .github/workflows/codeql-analysis.yml
Owners: @headcr4sh

Update cspell to v2.5.0.
  .cspell.json
  package-lock.json
  package.json
Owners: none

Get rid of SonarCloud scanner.
  .eslintrc.js
  electron-forge.config.js
  jest.config.js
  src/typings/steamworks.js.d.ts
  webpack.config.ts
  webpack.main.config.js
  webpack.renderer.config.js
Owners: none

Clean up.
  .github/workflows/ci-build.yaml
  .vscode/extensions.json
  jest.config.js
  package.json
  sonar-project.properties
Owners: @headcr4sh

Fix eslint configuration.
  .eslintrc.js
Owners: none

Get rid of jest<>sonar integration.
  jest.config.js
  package-lock.json
  package.json
Owners: none

Fix unit tests.
  .cspell.json
  jest.config.js
  package-lock.json
  package.json
  src/test/graphics/AffineTransform.test.ts
Owners: none

Add access to vendor and model of Gamepad wrapper.
  src/input/GamepadModel.ts
  tsconfig.json
Owners: @kayahr

Update steamworks.js
  package-lock.json
  package.json
  src/typings/steamworks.js.d.ts
Owners: none

Update all dependencies and get rid of deprecated API usage.
  CHANGELOG.md
  electron-forge.config.js
  package-lock.json
  package.json
  src/Conversation.ts
  src/constants.ts
  src/input/GamepadInput.ts
  src/main.ts
  src/scenes/CreditsScene.ts
  src/util.ts
Owners: @headcr4sh

Get rid of typing that is no longer needed.
  src/typings/steamworks.js.d.ts
Owners: none

Fix comment.
  src/Quests.ts
Owners: none

Provide typings for 'electron-squirrel-startup'.
  src/typings/electron-squirrel-startup.d.ts
Owners: none

Improve TypeScript code a bit.
  src/Particles.ts
  src/SpeechBubble.ts
  src/Transition.ts
Owners: none

Update dependencies.
  CHANGELOG.md
  electron-forge.config.js
  package-lock.json
  package.json
  webpack.main.config.js
  webpack.renderer.config.js
Owners: @headcr4sh

Package native lib (libsteam_api) correctly.
  src/main.ts
  webpack.main.config.js
  webpack.renderer.config.js
Owners: none

First draft of Steamworks API integration.
  electron-forge.config.js
  src/electron-main.ts
  src/electron-preload.ts
  webpack.main.config.js
Owners: none

Make steam achievement API available.
  src/electron-main.ts
  src/electron-preload.ts
Owners: none

add dialogue and level additions for shadow guy ending
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/level_collision.png
  assets/maps/level_test.png
  assets/maps/tilemap.aseprite
  assets/maps/tilemap.png
Owners: @eduke2k

add new goose npc
  assets/dialog/goose1.dialog.json
  assets/maps/level.json
  assets/sprites/goose.aseprite
  assets/sprites/goose.aseprite.json
  assets/sprites/goose.png
  src/Campaign.ts
  src/Conversation.ts
  src/entities/Goose.ts
  src/entities/Player.ts
  src/scenes/GameScene.ts
  src/scenes/GotItemScene.ts
Owners: @eduke2k

Fix refactoring of function renaming that broke the condition system (cut off one character too much now)
  src/Conversation.ts
Owners: none

Finish up first vertical slice of new mechanics in regards to forced item pickups
  assets/dialog/superthrow.dialog.json
  assets/maps/level.json
  assets/sprites/powerup_chaos.aseprite
  assets/sprites/powerup_chaos.aseprite.json
  assets/sprites/powerup_chaos.png
  assets/sprites/superthrow.aseprite
  assets/sprites/superthrow.aseprite.json
  assets/sprites/superthrow.png
  src/Animator.ts
  src/Campaign.ts
  src/entities/Player.ts
  src/entities/SuperThrow.ts
  src/scenes/GameScene.ts
  src/scenes/GotItemScene.ts
Owners: @eduke2k

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr
