Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Add jest
  .gitignore
  package-lock.json
  package.json
  src/test/dummy.test.ts
Owners: none

Add spell checking
  .cspell.json
  .vscode/settings.json
  CHANGELOG.md
  README.md
  SECURITY.md
  package-lock.json
  package.json
  src/Animator.ts
  src/Campaign.ts
  src/Menu.ts
  src/Player.ts
  src/input/ControllerEvent.ts
  src/input/GamepadInput.ts
  src/input/GamepadStyle.ts
  src/scenes/CharacterSelectionScene.ts
  src/scenes/CreditsScene.ts
  src/typings/texts.json.d.ts
Owners: @headcr4sh

spell checking
  .cspell.json
Owners: none

Disable no-namespace rule
  .cspell.json
  .eslintrc
Owners: @kayahr

Add .vscode to ignored paths.
  .cspell.json
Owners: none

Suggest cspell extension for vscode users.
  .vscode/extensions.json
Owners: @headcr4sh

Make sure SonarCloud understands Jest's coverage reports.
  package-lock.json
  package.json
  sonar-project.properties
Owners: none

Run all tests during Gihub CI build.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Disable unit test for now in Github pipeline.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Only lint index.html and ignore all other HTML files.
  package.json
Owners: none

Remove coverage config from sonar-project.properties.
  sonar-project.properties
Owners: none

fix stone dialog which still referenced gender fairy.
  assets/dialog/stone1.dialog.json
Owners: @eduke2k

fix wrong directional hint in dialog
  assets/dialog/bird.dialog.json
Owners: @eduke2k

Add first real unit test.
  .cspell.json
  .github/workflows/ci-build.yaml
  jest.config.js
  package-lock.json
  package.json
  src/input/GamepadModel.ts
  src/test/dummy.test.ts
  src/test/input/GamepadModel.test.ts
Owners: @headcr4sh

Prepare for release of v2.1.1.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Add missing reference to homepage in package.json.
  package.json
Owners: none

Add Github workflow for automatic release creations.
  .github/workflows/ci-build.yaml
  .github/workflows/release-build.yaml
Owners: @headcr4sh

Fix evil typo.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Suggest SonarLint plugin to VSCode users.
  .vscode/extensions.json
  .vscode/settings.json
Owners: @headcr4sh

Replace wrapper object with primitive type.
  src/input/GamepadInput.ts
Owners: none

hotfix: teleport player back to level when accidentally dropping out of bounds
  assets/maps/level.json
  src/Camera.ts
  src/Player.ts
  src/World.ts
Owners: none

fix quote issues
  src/Player.ts
Owners: none

Implement layering and more in scene graph
  .cspell.json
  src/BitmapFont.ts
  src/Menu.ts
  src/Scene.ts
  src/graphics/AffineTransform.ts
  src/scene/AsepriteNode.ts
  src/scene/ImageNode.ts
  src/scene/RootNode.ts
  src/scene/SceneNode.ts
  src/scene/SceneNodeAnimation.ts
  src/scenes/TitleScene.ts
Owners: none

Replace Vector2 interface with Vector2Like interface and also add real Vector2 class (which I need for bounds polygon of scene nodes soon)
  src/Camera.ts
  src/MapInfo.ts
  src/Particles.ts
  src/graphics/Vector2.ts
  src/util.ts
Owners: none

Implement simple polygon class
  src/geom/Polygon.ts
  src/graphics/Line2.ts
  src/graphics/Polygon2.ts
  src/graphics/Vector2.ts
  src/scene/SceneNode.ts
Owners: none

convert last mp3 to ogg and remove unused song from credits scene (faster loading times?)
  assets/music/a-vision-of-fire.mp3
  assets/music/a-vision-of-fire.ogg
  src/scenes/CreditsScene.ts
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

Prepare for release of v2.1.2.
  .github/workflows/release-build.yaml
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Apply alpha to current alpha instead of overwriting it
  src/scene/SceneNode.ts
Owners: none

Fix alpha overwrite
  src/scenes/CreditsScene.ts
Owners: none

Fix alpha overwrite
  src/scenes/CreditsScene.ts
Owners: none

Support scene node args for MenuList
  src/Menu.ts
  src/scenes/TitleScene.ts
Owners: none

hotfix: prevent default key functionality in browsers to prevent unwanted scrolling when using space and/or cursor keys
  src/input/Keyboard.ts
Owners: none

(Hopefully) fix text placement at exact pixels
  src/BitmapFont.ts
Owners: none

Add text node
  src/scene/TextNode.ts
Owners: none

(Hopefully) fix text placement at exact pixels
  src/BitmapFont.ts
Owners: none

add blacklist for key codes that should prevent default
  src/input/Keyboard.ts
Owners: none

Use scene graph in PauseScene
  src/Menu.ts
  src/Scene.ts
  src/scene/SceneNode.ts
  src/scenes/PauseScene.ts
Owners: none

Use scene graphi in loading scene
  src/scene/ProgressBarNode.ts
  src/scenes/LoadingScene.ts
Owners: none
