Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Simplify CI config
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Rename Build step
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Fix typo
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Remove dist because already done in build phase
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Remove obsolete webpack @types dependencies
  package-lock.json
  package.json
Owners: none

Remove obsolete webpack @types dependencies
  package-lock.json
  package.json
Owners: none

Use production mode as default
  package.json
  webpack.config.ts
Owners: none

Simplify CI Job (#357)
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Enable eslint warnings for promise errors and fix them
  .eslintrc.js
  src/electron-main/index.ts
  src/service-worker/index.ts
  src/web/Campaign.ts
  src/web/FriendlyFire.ts
  src/web/Greeting.ts
  src/web/PlayerConversation.ts
  src/web/Scenes.ts
  src/web/audio/AudioContext.ts
  src/web/audio/Sound.ts
  src/web/entities/Fire.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/NPC.ts
  src/web/entities/Player.ts
  src/web/entities/Shiba.ts
  src/web/scenes/CharacterSelectionScene.ts
  src/web/scenes/ControlsScene.ts
  src/web/scenes/CreditsScene.ts
  src/web/scenes/EndScene.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/LoadingScene.ts
  src/web/scenes/OptionsScene.ts
  src/web/scenes/PauseScene.ts
  src/web/scenes/PowerShiba.ts
  src/web/scenes/TitleScene.ts
Owners: none

Don't lint webpack and forge files
  .eslintrc.js
Owners: none

Replace some ugly setTimeouts with sleeps
  src/web/SpeechBubble.ts
  src/web/entities/Fire.ts
  src/web/entities/Wood.ts
  src/web/scenes/GameScene.ts
Owners: none

Cleanup spell checking
  .cspell.json
  .eslintrc.js
  forge.config.ts
  jest.config.ts
  package.json
  src/electron-main/index.ts
  src/electron-preload/index.ts
  src/shared/SteamworksApi.ts
  src/web/FriendlyFire.ts
  webpack.config.ts
  webpack.electron-main.config.ts
  webpack.electron-preload.config.ts
  webpack.electron-renderer.config.ts
Owners: none

Stop on eslint warnings
  package.json
Owners: none

Add missing return types
  .eslintrc.js
  src/touch-controls/TouchGamepad.ts
  src/touch-controls/VirtualGamepad.ts
  src/web/Camera.ts
  src/web/Campaign.ts
  src/web/Menu.ts
  src/web/Particles.ts
  src/web/audio/AudioContext.ts
  src/web/entities/Cloud.ts
  src/web/entities/Player.ts
  src/web/input/GamepadInput.ts
  src/web/scene/AsepriteNode.ts
  src/web/scenes/CreditsScene.ts
  src/web/scenes/EndScene.ts
  src/web/scenes/OptionsScene.ts
  src/web/transitions/CurtainTransition.ts
  src/web/transitions/SlideTransition.ts
  src/web/util.ts
Owners: none

Fix some any types
  src/touch-controls/VirtualGamepadEvent.ts
  src/web/Greeting.ts
  src/web/scenes/GameScene.ts
Owners: none

Cleanup scripts
  package-lock.json
  package.json
Owners: none

Implement pixel-perfect and image-smoothing options
  src/web/DisplayManager.ts
  src/web/Game.ts
  src/web/Menu.ts
  src/web/scenes/OptionsScene.ts
Owners: none

Improve error message so we can see which sprite has problems
  src/web/Aseprite.ts
Owners: none

Add vendor id of Steam Deck controller
  src/web/input/GamepadModel.ts
Owners: none

Update Changelog
  CHANGELOG.md
Owners: @headcr4sh

Set background to black. Looks way nicer in fullscreen than this useless gray.
  style.css
Owners: none

Fix Meta layer of female character
  CHANGELOG.md
  assets/sprites/pc/female.aseprite
Owners: @headcr4sh, @eduke2k

Remove unused aseprite JSON with wrong name
  assets/sprites/dancing_ui_keys.json
Owners: none

Remove unused aseprite JSON with wrong name
  assets/sprites/flameboy.json
Owners: none

Fix typo in shadowpresence dialog
  assets/dialog/shadowpresence1.dialog.json
Owners: @eduke2k

Fixed lots of typos in dialogs
  .cspell.json
  CHANGELOG.md
  assets/dialog/README.md
  assets/dialog/caveman2.dialog.json
  assets/dialog/chicken.dialog.json
  assets/dialog/flameboy3.dialog.json
  assets/dialog/mimic.dialog.json
  assets/dialog/powershiba2.dialog.json
  assets/dialog/stone1.dialog.json
  assets/dialog/stonedisciple1.dialog.json
  assets/dialog/superthrow.dialog.json
  assets/dialog/wing1.dialog.json
Owners: @headcr4sh, @eduke2k

Fix Snowball and add player.teleportTo(entity) method for debugging purposes
  src/web/Renderer.ts
  src/web/entities/Player.ts
  src/web/entities/Snowball.ts
Owners: none

Fixed positioning of conversation speech bubble.
  CHANGELOG.md
  src/web/Greeting.ts
  src/web/Renderer.ts
  src/web/SpeechBubble.ts
  src/web/entities/Player.ts
Owners: @headcr4sh

Enable explicit-module-boundary-types eslint rule
  .eslintrc.js
  src/web/Particles.ts
Owners: none

Enable no-explicit-any eslint rule
  .eslintrc.js
  src/shared/FullscreenManager.ts
  src/shared/SteamworksApi.ts
  src/touch-controls/TouchGamepad.ts
  src/web/Assets.ts
  src/web/Campaign.ts
  src/web/FriendlyFire.ts
  src/web/Game.ts
  src/web/Greeting.ts
  src/web/Menu.ts
  src/web/Particles.ts
  src/web/audio/AudioContext.ts
  src/web/display/FullscreenManager.ts
  src/web/scene/SceneNode.ts
  src/web/scenes/GameScene.ts
  src/web/steamworks/SteamworksApi.ts
  src/web/typings/global.d.ts
  src/web/typings/window.d.ts
Owners: none

enable @typescript-eslint/ban-types eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/no-inferrable-types eslint rule
  .eslintrc.js
Owners: none

Enable no-non-null-assertion eslint rule
  .eslintrc.js
  src/service-worker/Cache.ts
  src/web/BitmapFont.ts
  src/web/Campaign.ts
  src/web/FriendlyFire.ts
  src/web/Menu.ts
  src/web/graphics.ts
Owners: none

Enable @typescript-eslint/no-unused-vars eslint rule
  .eslintrc.js
  src/web/Scenes.ts
Owners: none

Enable no-case-declarations eslint rule
  .eslintrc.js
  src/web/Campaign.ts
  src/web/scenes/GameScene.ts
Owners: none

Enable no-extra-boolean-cast eslint rule
  .eslintrc.js
  src/web/util.ts
Owners: none

Enable semi eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/explicit-member-accessibility eslint rule
  .eslintrc.js
  src/touch-controls/TouchGamepad.ts
  src/touch-controls/VirtualGamepad.ts
  src/web/Assets.ts
  src/web/Camera.ts
  src/web/Campaign.ts
  src/web/ColorGradient.ts
  src/web/Conversation.ts
  src/web/Dance.ts
  src/web/DisplayManager.ts
  src/web/Entity.ts
  src/web/Face.ts
  src/web/FireGfx.ts
  src/web/Greeting.ts
  src/web/Particles.ts
  src/web/PlayerConversation.ts
  src/web/SpeechBubble.ts
  src/web/audio/AudioManager.ts
  src/web/audio/AudioPreferencesStore.ts
  src/web/display/WebFullscreenManager.ts
  src/web/entities/Wall.ts
  src/web/input/ControllerEvent.ts
  src/web/input/GamepadInput.ts
  src/web/input/GamepadModel.ts
  src/web/preferences/Preferences.ts
Owners: none

Enabled max-len eslint rule and increase len to 160 (ideal for Github)
  .eslintrc.js
  src/touch-controls/TouchGamepad.ts
  src/web/Aseprite.ts
  src/web/Renderer.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/PowerShiba.ts
Owners: none

Enable linebreak-style eslint rule
  .eslintrc.js
Owners: none
