Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

remove unused import
  src/entities/SuperThrow.ts
Owners: none

Expose Preferences and Steamworks API correctly.
  .cspell.json
  package-lock.json
  package.json
  src/FriendlyFire.ts
  src/electron-main.ts
  src/electron-preload.ts
  src/graphics.ts
  src/preferences/Preferences.ts
  src/scenes/GameScene.ts
  src/steamworks/SteamworksApi.ts
Owners: none

implement new options scene with the ability to toggle fullscreen
  package-lock.json
  src/Scenes.ts
  src/scenes/OptionsScene.ts
  src/scenes/PauseScene.ts
  src/scenes/TitleScene.ts
Owners: none

more content updates regarding the new ending
  assets/dialog/gooseDead.dialog.json
  assets/dialog/wingChaos1.dialog.json
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/level_collision.png
  assets/maps/level_test.png
  assets/maps/tilemap.aseprite
  assets/maps/tilemap.png
  assets/sprites/goose.aseprite
  assets/sprites/goose.aseprite.json
  assets/sprites/goose.png
  assets/sprites/powerup_flying.aseprite
  assets/sprites/powerup_flying.aseprite.json
  assets/sprites/powerup_flying.png
  assets/sprites/powerup_superthrow.aseprite
  assets/sprites/powerup_superthrow.aseprite.json
  assets/sprites/powerup_superthrow.png
  assets/sprites/wing.aseprite
  assets/sprites/wing.json
  assets/sprites/wing.png
  src/Campaign.ts
  src/Conversation.ts
  src/Entity.ts
  src/Scenes.ts
  src/World.ts
  src/entities/Goose.ts
  src/entities/Player.ts
  src/entities/Seed.ts
  src/entities/Wing.ts
  src/preferences/Preferences.ts
  src/scenes/GotItemScene.ts
Owners: @eduke2k

Update all devDependencies.
  package-lock.json
  package.json
Owners: none

Fix fullscreen toggle of webapp.
  src/Game.ts
  src/graphics.ts
  src/preferences/Preferences.ts
Owners: none

some implementation and new assets regarding shadowpresence stuff
  assets/dialog/shadowpresenceChaos1.dialog.json
  assets/maps/level.json
  assets/sprites/shadowgate.aseprite
  assets/sprites/shadowgate.aseprite.json
  assets/sprites/shadowgate.png
  assets/sprites/shadowhand.aseprite
  assets/sprites/shadowhand.aseprite.json
  assets/sprites/shadowhand.png
  assets/sprites/shadowhands.png
  assets/sprites/shadowpresence.aseprite
  assets/sprites/shadowpresence.aseprite.json
  assets/sprites/shadowpresence.png
  src/Animator.ts
  src/Campaign.ts
  src/Entity.ts
  src/Renderer.ts
  src/entities/Player.ts
  src/entities/Seed.ts
  src/entities/ShadowGate.ts
  src/entities/ShadowHand.ts
  src/entities/ShadowPresence.ts
  src/scenes/GameScene.ts
Owners: @eduke2k

mostly finalize ending f
  assets/dialog/caveman2.dialog.json
  assets/dialog/cavemanOutside1.dialog.json
  assets/dialog/shadowpresenceHome1.dialog.json
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/level_collision.png
  assets/maps/level_test.png
  assets/sprites/pc/shadow.aseprite
  assets/sprites/pc/shadow.aseprite.json
  assets/sprites/pc/shadow.png
  src/Campaign.ts
  src/entities/Caveman.ts
  src/entities/Player.ts
  src/entities/ShadowGate.ts
  src/entities/Shiba.ts
Owners: @eduke2k

add new character sound system that supports multiple random sound assets per action and voice asset
  assets/sounds/drowning/drowning_female.ogg
  assets/sounds/jumping/jump_female_01.ogg
  assets/sounds/jumping/jump_female_02.ogg
  assets/sounds/jumping/jump_female_03.ogg
  assets/sounds/jumping/jump_female_04.ogg
  assets/sounds/jumping/jump_female_05.ogg
  assets/sounds/jumping/jump_female_06.ogg
  assets/sounds/throwing/throw_female.ogg
  package-lock.json
  src/CharacterSounds.ts
  src/Game.ts
  src/entities/Player.ts
Owners: none

fix some dialog and update map to use new song
  assets/dialog/shadowpresenceHome1.dialog.json
  assets/maps/level.json
  assets/music/abysmal.ogg
  src/entities/Player.ts
  src/scenes/GameScene.ts
Owners: @eduke2k, @headcr4sh, @m2u-84, @BastianLangBonn

fix ending card for new ending
  assets/sprites/ending_cards.aseprite
  assets/sprites/ending_cards.png
Owners: @eduke2k

Fix deacceleration issues when releasing the run button and decrease air control a bit
  src/constants.ts
  src/entities/PhysicsEntity.ts
  src/entities/Player.ts
Owners: none

remove console logs
  src/entities/Player.ts
Owners: none

increase drawing performance by culling everything that's outside of the camera
  src/Camera.ts
  src/Entity.ts
  src/Particles.ts
  src/Renderer.ts
  src/World.ts
  src/scenes/GameScene.ts
Owners: none

add documentation
  src/Camera.ts
Owners: none

Make world unique again and finish up level switching feature
  .cspell.json
  assets/maps/level_test.png
  assets/maps/overworld/bg.png
  assets/maps/overworld/bg2.aseprite
  assets/maps/overworld/bg2.png
  assets/maps/overworld/bg3.aseprite
  assets/maps/overworld/bg3.png
  assets/maps/overworld/collision.png
  assets/maps/overworld/level.json
  assets/maps/overworld/level.png
  assets/maps/testmap/collision.png
  assets/maps/testmap/level.json
  assets/maps/testmap/level.png
  src/Campaign.ts
  src/Entity.ts
  src/Levels.ts
  src/MapInfo.ts
  src/World.ts
  src/entities/Bird.ts
  src/entities/Bone.ts
  src/entities/Caveman.ts
  src/entities/FlameBoy.ts
  src/entities/Goose.ts
  src/entities/PhysicsEntity.ts
  src/entities/Player.ts
  src/entities/ScriptableNPC.ts
  src/entities/Seed.ts
  src/entities/ShadowPresence.ts
  src/entities/Shiba.ts
  src/entities/Stone.ts
  src/entities/StoneDisciple.ts
  src/entities/Wood.ts
  src/scenes/GameScene.ts
  src/scenes/PowerShiba.ts
Owners: @eduke2k

take out spaceship from main map for a cleaner separation of levels
  assets/maps/overworld/level.json
  assets/maps/spaceship/collision.png
  assets/maps/spaceship/level.json
  assets/maps/spaceship/level.png
  src/Levels.ts
  src/World.ts
Owners: @eduke2k

Add button sprites for Stadia controllers.
  CHANGELOG.md
  assets/images/controls_gamepad.aseprite
  assets/images/controls_gamepad.aseprite.json
  assets/images/controls_gamepad.png
  assets/images/gamepad_selection.aseprite
  assets/images/gamepad_selection.aseprite.json
  assets/images/gamepad_selection.json
  assets/images/gamepad_selection.png
  assets/sprites/buttons_stadia.aseprite
  assets/sprites/buttons_stadia.aseprite.json
  assets/sprites/buttons_stadia.png
  assets/sprites/pc/male.json
  package-lock.json
  src/entities/Player.ts
  src/input/ControllerFamily.ts
  src/input/ControllerManager.ts
  src/input/GamepadStyle.ts
  src/scene/ControlTooltipNode.ts
  src/scenes/CharacterSelectionScene.ts
  src/scenes/ControlsScene.ts
Owners: @headcr4sh, @eduke2k

Update all (dev)Dependencies.
  .cspell.json
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Remove invalid fields from web app manifests.
  manifest.webmanifest
Owners: none

Disable JSON stats in webpack to fix Electron builds.
  electron-forge.config.js
Owners: none

[WiP] Sound manager.
  src/Assets.ts
  src/Sound.ts
  src/electron-main.ts
  src/electron-preload.ts
  src/preferences/Preferences.ts
Owners: none

Make SFX and music gain adjustable.
  src/Assets.ts
  src/CharacterSounds.ts
  src/Dance.ts
  src/DisplayManager.ts
  src/FriendlyFire.ts
  src/Game.ts
  src/Menu.ts
  src/MountainRiddle.ts
  src/Sound.ts
  src/audio/AudioContext.ts
  src/audio/AudioManager.ts
  src/audio/AudioPreferencesStore.ts
  src/audio/Sound.ts
  src/audio/SoundChannel.ts
  src/audio/SoundEmitter.ts
  src/entities/Bird.ts
  src/entities/Bone.ts
  src/entities/ExitPortal.ts
  src/entities/Fire.ts
  src/entities/FlameBoy.ts
  src/entities/Mimic.ts
  src/entities/Player.ts
  src/entities/Portal.ts
  src/entities/Seed.ts
  src/entities/ShadowPresence.ts
  src/entities/Shiba.ts
  src/entities/Stone.ts
  src/entities/Wood.ts
  src/preferences/Preferences.ts
  src/scenes/CharacterSelectionScene.ts
  src/scenes/CreditsScene.ts
  src/scenes/EndScene.ts
  src/scenes/GameScene.ts
  src/scenes/GotItemScene.ts
  src/scenes/OptionsScene.ts
  src/scenes/PauseScene.ts
  src/scenes/TitleScene.ts
Owners: none

Add unit test for util.clamp function.
  src/test/util.test.ts
Owners: none

Update dev(dependencies)
  .cspell.json
  package-lock.json
  package.json
Owners: none

fix wrong import path
  src/audio/SoundEmitter.ts
Owners: none

add simple audio slider for sfx and music to options scene
  src/Menu.ts
  src/Scenes.ts
  src/entities/Player.ts
  src/scenes/OptionsScene.ts
Owners: none

Improve API documentation and refactor unimporant stuff.
  .cspell.json
  src/Aseprite.ts
  src/Conversation.ts
  src/GlobalState.ts
  src/Scene.ts
  src/audio/AudioContext.ts
  src/audio/AudioManager.ts
  src/audio/AudioPreferencesStore.ts
  src/graphics/Vector2.ts
  src/preferences/Preferences.ts
  src/scene/AsepriteNode.ts
  src/scene/ImageNode.ts
  src/scene/ProgressBarNode.ts
  src/scene/SceneNode.ts
  src/scene/SceneNodeAnimation.ts
  src/scene/TextNode.ts
  src/util.ts
Owners: none

Refactor preferences store logic.
  src/DisplayManager.ts
  src/Game.ts
  src/audio/AudioManager.ts
  src/display/FullscreenManager.ts
  src/electron-main.ts
  src/electron-preload.ts
  src/preferences/Preferences.ts
  src/steamworks/SteamworksApi.ts
Owners: none

Prepare code for possibility of persistent audio settings.
  src/Menu.ts
  src/audio/AudioManager.ts
  src/audio/AudioPreferencesStore.ts
  src/preferences/Preferences.ts
  src/scenes/OptionsScene.ts
Owners: none

Finalize persistent storage auf audio volumes.
  src/audio/AudioManager.ts
  src/audio/AudioPreferencesStore.ts
  src/audio/Sound.ts
  src/audio/constants.ts
  src/preferences/Preferences.ts
  src/scenes/OptionsScene.ts
Owners: none

Add messed up percentage sign... ;-)
  assets/fonts/pixcelsior.font.json
  assets/fonts/pixcelsior.png
Owners: @eduke2k

update font
  assets/fonts/pixcelsior.png
Owners: @eduke2k

Update Electron to v20.1.4.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Update CHANGELOG.
  CHANGELOG.md
Owners: @headcr4sh

Update cspell config.
  .cspell.json
  src/entities/Shiba.ts
Owners: none

Update cspell schema location URI.
  .cspell.json
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: @headcr4sh

Extend @tsconfig/recommended in TypeScript config.
  package-lock.json
  package.json
  tsconfig.json
Owners: @kayahr

Remove .js file ending from import.
  src/BitmapFont.ts
Owners: none
