Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

bugfix: resetting wood while itfloats in water now supported
  src/Tree.ts
  src/Wood.ts
Owners: none

bugfix: resetting seed while it floats in water now supported
  src/Seed.ts
  src/Tree.ts
Owners: none

add little telescope at vantage point to make interactable space more prominent
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/tilemap.aseprite
  assets/maps/tilemap.png
Owners: @eduke2k

Fix typo.
  assets/dialog/caveman.dialog.json
Owners: @eduke2k

logic and assets for ending e
  assets/dialog/flameboy3.dialog.json
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/level_collision.png
  assets/maps/tilemap.aseprite
  assets/maps/tilemap.png
  assets/sprites/eyes/flameboy2.aseprite
  assets/sprites/eyes/flameboy2.aseprite.json
  assets/sprites/eyes/flameboy2.png
  assets/sprites/flameboy.aseprite
  assets/sprites/flameboy.aseprite.json
  assets/sprites/flameboy.png
  assets/sprites/pc/patient.aseprite
  assets/sprites/pc/patient.aseprite.json
  assets/sprites/pc/patient.png
  src/Campaign.ts
  src/ExitPortal.ts
  src/Face.ts
  src/FlameBoy.ts
  src/MapInfo.ts
  src/Player.ts
  src/Wood.ts
  src/World.ts
  src/scenes/GameScene.ts
Owners: @eduke2k

close new ending logic
  assets/dialog/window.dialog.json
  assets/images/credits/bg-space.png
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/tilemap.aseprite
  assets/maps/tilemap.png
  assets/sounds/portal/enter-portal.ogg
  assets/sprites/credits/spaceship.aseprite
  assets/sprites/credits/spaceship.aseprite.json
  assets/sprites/credits/spaceship.png
  assets/sprites/credits/spaceshipsmall.aseprite
  assets/sprites/credits/spaceshipsmall.aseprite.json
  assets/sprites/credits/spaceshipsmall.png
  src/Campaign.ts
  src/ExitPortal.ts
  src/MapInfo.ts
  src/Player.ts
  src/Quests.ts
  src/Window.ts
  src/World.ts
  src/constants.ts
  src/scenes/CreditsScene.ts
  src/scenes/GameScene.ts
Owners: @eduke2k

update cspell
  .cspell.json
  src/scenes/CreditsScene.ts
Owners: none

add song for new ending
  assets/maps/level.json
  assets/music/awake.ogg
  src/scenes/GameScene.ts
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

remove console logs
  src/Campaign.ts
  src/scenes/CreditsScene.ts
  src/scenes/GameScene.ts
Owners: none

add additional dalog for flameboy while still carrying the stone
  assets/dialog/flameboy4.dialog.json
  src/Campaign.ts
  src/Stone.ts
Owners: @eduke2k

fix some caveman dialogue progression issues
  assets/dialog/caveman1.dialog.json
  assets/dialog/caveman2.dialog.json
  src/Campaign.ts
  src/Stone.ts
Owners: @eduke2k

fix dialogue
  assets/dialog/caveman1.dialog.json
Owners: @eduke2k

fix typos
  assets/maps/level.json
Owners: none

fix color grading of ending e credits
  assets/images/credits/bg-space.png
  assets/sprites/credits/spaceship.aseprite
  assets/sprites/credits/spaceship.png
  assets/sprites/credits/spaceshipsmall.aseprite
  assets/sprites/credits/spaceshipsmall.png
Owners: @eduke2k

Release v2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  package-lock.json
  package.json
Owners: none

Fix version check in release pipeline.
  .github/workflows/release-build.yaml
Owners: @headcr4sh

add ending guides to readme
  README.md
Owners: none

fix lint issues
  README.md
Owners: none

Update .mailmap.
  .mailmap
Owners: @headcr4sh

Update (dev)dependencies.
  package-lock.json
  package.json
Owners: none

Enable Electron context isolation.
  src/main.ts
Owners: none

Update pipeline dependencies.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Add command line flag parser.
  src/main.ts
Owners: none

Update cspell configuration.
  .cspell.json
Owners: none

Update CHANGELOG.
  CHANGELOG.md
Owners: @headcr4sh

add additional credit song mix and play it depending on character style
  assets/music/a-vision-of-fire-orchestral.ogg
  src/scenes/CreditsScene.ts
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

release 2.4.0
  CHANGELOG.md
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  package.json
Owners: none

Update package-lock.json.
  package-lock.json
Owners: none

Update Electron to v11.4.4.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

add new game plus functionality for better replayability and add first additions for new ending
  assets/dialog/shadowpresence1.dialog.json
  assets/maps/level.json
  assets/maps/level.png
  assets/maps/level_collision.png
  assets/maps/level_test.png
  assets/maps/tilemap.aseprite
  assets/maps/tilemap.png
  assets/music/shadowgate.ogg
  src/Campaign.ts
  src/MapInfo.ts
  src/World.ts
  src/entities/Fire.ts
  src/entities/Player.ts
  src/entities/Seed.ts
  src/entities/Stone.ts
  src/scenes/CharacterSelectionScene.ts
  src/scenes/GameScene.ts
Owners: @eduke2k, @headcr4sh, @m2u-84, @BastianLangBonn

Update TypeScript to v4.5.4.
  package-lock.json
  package.json
Owners: none

Fix bug in (unused) Direction library.
  src/geom/Direction.ts
  src/test/geom/Direction.test.ts
Owners: none

Update cspell to v5.14.0.
  package-lock.json
  package.json
Owners: none

Update HTMLhint to v1.1.0.
  package-lock.json
  package.json
Owners: none

Add missing semicolon.
  electron-forge.config.js
Owners: none

Upate Electron to v16.0.5.
  CHANGELOG.md
  package-lock.json
  package.json
  src/main.ts
Owners: @headcr4sh

Update @jest-runner/electron to v3.0.1.
  package-lock.json
  package.json
Owners: none

Run up to date, audited 2277 packages in 5s
  package-lock.json
Owners: none

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr
