Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Use scene graph in controls scene
  src/input/ControllerManager.ts
  src/scene/AsepriteNode.ts
  src/scene/ControlTooltipNode.ts
  src/scene/SceneNode.ts
  src/scene/TextNode.ts
  src/scenes/ControlsScene.ts
Owners: none

Use scene graph in character selection scene
  src/scene/ControlTooltipNode.ts
  src/scene/TextNode.ts
  src/scenes/CharacterSelectionScene.ts
Owners: none

Play voice on change
  src/scenes/CharacterSelectionScene.ts
Owners: none

Play voice on change
  src/scenes/CharacterSelectionScene.ts
Owners: none

Replace scene properties with a typed scene argument
  src/Player.ts
  src/Scene.ts
  src/Scenes.ts
  src/scenes/GotItemScene.ts
Owners: none

Merge branch 'master' into feature/scene-graph
  src/Player.ts
  src/Scene.ts
  src/Scenes.ts
  src/scene/RootNode.ts
  src/scene/SceneNode.ts
  src/scenes/GotItemScene.ts
  src/scenes/TitleScene.ts
Owners: none

Use scene graph in GotItemScene
  src/MountainRiddle.ts
  src/scenes/GotItemScene.ts
Owners: none

Use scene graph in credits scene
  src/scene/SceneNodeAnimation.ts
  src/scenes/CreditsScene.ts
Owners: none

Update CHANGELOG.md.
  CHANGELOG.md
Owners: @headcr4sh

Use scene graph in end scene
  src/scenes/EndScene.ts
Owners: none

Add unit tests for AffineTransform and Vector2
  src/test/graphics/AffineTransform.test.ts
  src/test/graphics/Vector2.test.ts
  src/util.ts
Owners: none

Use navigator.keyboard.lock().
  src/FriendlyFire.ts
  src/Game.ts
  src/input/Keyboard.ts
  src/typings/global.d.ts
Owners: none

Remove my copied copyright
  src/test/graphics/Vector2.test.ts
Owners: none

Lock/unlock keyboard on fullscreen activation only.
  src/FriendlyFire.ts
  src/Game.ts
Owners: none

Introduce variable to avoid code duplication.
  src/Game.ts
Owners: none

Request fullscreen on body instead of canvas.
  src/Game.ts
Owners: none

Use div for background color because body background is lost when using fullscreen api
  index.html
  style.css
Owners: none

Handle 'F11 fullscreen' correctly.
  src/Game.ts
Owners: none

fix super throw asset (remove sprite trimming to keep width at 18px)
  assets/sprites/superthrow.aseprite.json
  assets/sprites/superthrow.png
Owners: @eduke2k

Introduction of Scene Graph API (#17)
  .cspell.json
  .eslintrc
  src/Camera.ts
  src/MapInfo.ts
  src/Menu.ts
  src/MountainRiddle.ts
  src/Particles.ts
  src/Scene.ts
  src/geom/Direction.ts
  src/graphics/AffineTransform.ts
  src/graphics/Line2.ts
  src/graphics/Polygon2.ts
  src/graphics/Vector2.ts
  src/input/ControllerManager.ts
  src/scene/AsepriteNode.ts
  src/scene/ControlTooltipNode.ts
  src/scene/ImageNode.ts
  src/scene/ProgressBarNode.ts
  src/scene/RootNode.ts
  src/scene/SceneNode.ts
  src/scene/SceneNodeAnimation.ts
  src/scene/TextNode.ts
  src/scenes/CharacterSelectionScene.ts
  src/scenes/ControlsScene.ts
  src/scenes/CreditsScene.ts
  src/scenes/EndScene.ts
  src/scenes/GotItemScene.ts
  src/scenes/LoadingScene.ts
  src/scenes/PauseScene.ts
  src/scenes/TitleScene.ts
  src/test/graphics/AffineTransform.test.ts
  src/test/graphics/Vector2.test.ts
  src/util.ts
Owners: @kayahr

Update CHANGELOG.md.
  CHANGELOG.md
Owners: @headcr4sh

Clean up: more JS/TS linting rules.
  .eslintrc
  src/Camera.ts
  src/Campaign.ts
  src/MapInfo.ts
  src/Menu.ts
  src/Transition.ts
  src/scene/SceneNode.ts
  src/scenes/GameScene.ts
  src/test/input/GamepadModel.test.ts
  src/typings/global.d.ts
  webpack.config.js
  webpack.renderer.config.js
Owners: @kayahr

Prepare for release of v2.2.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Remove useless scale
  src/scenes/GameScene.ts
Owners: none

Fix changelog formatting.
  CHANGELOG.md
Owners: @headcr4sh

Fire use scene graph
  src/Fire.ts
Owners: none

particles use scene graph
  src/Particles.ts
  src/scenes/GameScene.ts
Owners: none

More entities converted to scene graph
  src/Dance.ts
  src/Player.ts
  src/ShadowPresence.ts
  src/Spider.ts
Owners: none

Get rid of rendering queue
  src/Camera.ts
  src/Renderer.ts
  src/World.ts
  src/scenes/GameScene.ts
Owners: none

Remove FireRenderingItem
  src/Fire.ts
  src/Renderer.ts
Owners: none

Fix dancing
  src/Dance.ts
  src/Player.ts
  src/Renderer.ts
  src/scene/SceneNode.ts
Owners: none

Refactor speech bubbles
  src/DummyNPC.ts
  src/Entity.ts
  src/Greeting.ts
  src/NPC.ts
  src/Player.ts
  src/Renderer.ts
  src/Sign.ts
  src/SpeechBubble.ts
Owners: none

Fix descendent crawling
  src/scene/SceneNode.ts
Owners: none

Implement effective layer
  src/scene/SceneNode.ts
Owners: none

Refactor player control tooltip
  src/Player.ts
  src/scene/ControlTooltipNode.ts
Owners: none

Remove obsolete rendering types
  src/Renderer.ts
Owners: none

Refactor image drawing of world (Backgrounds still broken)
  src/Renderer.ts
  src/World.ts
Owners: none

Refactor layering
  src/Animator.ts
  src/Bird.ts
  src/Bone.ts
  src/Campfire.ts
  src/Caveman.ts
  src/Chicken.ts
  src/Cloud.ts
  src/Conversation.ts
  src/ConversationProxy.ts
  src/DialoguePrompt.ts
  src/Face.ts
  src/Fire.ts
  src/FlameBoy.ts
  src/MovingPlatform.ts
  src/NPC.ts
  src/Player.ts
  src/PowerShiba.ts
  src/Radio.ts
  src/Renderer.ts
  src/RiddleStone.ts
  src/ScriptableNPC.ts
  src/Seed.ts
  src/ShadowPresence.ts
  src/Shiba.ts
  src/Sign.ts
  src/Skull.ts
  src/Spider.ts
  src/Stone.ts
  src/StoneDisciple.ts
  src/SuperThrow.ts
  src/Tree.ts
  src/Wall.ts
  src/Wing.ts
  src/Wood.ts
Owners: none

Get rid of duplicate speech bubble drawings
  src/Bird.ts
  src/Caveman.ts
  src/Chicken.ts
  src/ConversationProxy.ts
  src/Fire.ts
  src/FlameBoy.ts
  src/Mimic.ts
  src/PowerShiba.ts
  src/Seed.ts
  src/ShadowPresence.ts
  src/Shiba.ts
  src/Spider.ts
  src/Stone.ts
  src/StoneDisciple.ts
  src/SuperThrow.ts
  src/Tree.ts
  src/Wing.ts
Owners: none
