Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

Convert map bounds objects into CameraBounds entities
  .cspell.json
  src/web/Camera.ts
  src/web/CameraBounds.ts
  src/web/MapInfo.ts
  src/web/World.ts
  src/web/entities/Player.ts
  src/web/scenes/GameScene.ts
Owners: none

Import sound emitters as standard game entities
  src/web/MapInfo.ts
  src/web/audio/SoundEmitter.ts
  src/web/entities/Fire.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/ShadowPresence.ts
  src/web/scenes/GameScene.ts
Owners: none

Convert Pointers into entities
  src/web/Campaign.ts
  src/web/Entity.ts
  src/web/MapInfo.ts
  src/web/World.ts
  src/web/entities/Player.ts
  src/web/entities/PowerShiba.ts
  src/web/entities/Seed.ts
  src/web/entities/Shiba.ts
  src/web/entities/Stone.ts
  src/web/entities/Wood.ts
  src/web/entities/pointers/BossCloud.ts
  src/web/entities/pointers/BossSpawn.ts
  src/web/entities/pointers/Forest.ts
  src/web/entities/pointers/FriendshipPlayerPosition.ts
  src/web/entities/pointers/FriendshipShibaSpawn.ts
  src/web/entities/pointers/Mountain.ts
  src/web/entities/pointers/PlayerResetPosition.ts
  src/web/entities/pointers/PlayerSpawn.ts
  src/web/entities/pointers/PowerShibaMountainSpawn.ts
  src/web/entities/pointers/RainSpawnPosition.ts
  src/web/entities/pointers/RecoverFloatingPosition.ts
  src/web/entities/pointers/River.ts
  src/web/entities/pointers/SeedPosition.ts
  src/web/entities/pointers/ShibaMountainSpawn.ts
  src/web/entities/pointers/StoneFloatingPosition.ts
  src/web/entities/pointers/WindowZoomTarget.ts
  src/web/scenes/GameObject.ts
  src/web/scenes/GameScene.ts
Owners: none

Convert gates into entities
  .cspell.json
  assets/maps/level.map.json
  src/web/Campaign.ts
  src/web/MapInfo.ts
  src/web/World.ts
  src/web/entities/Fire.ts
  src/web/entities/Player.ts
  src/web/entities/gates/ExitPortalDoor1.ts
  src/web/entities/gates/Gate.ts
  src/web/entities/gates/ShadowGateDoor1.ts
  src/web/scenes/GameScene.ts
Owners: none

Cleanup sound, gate and bounds entities
  src/web/CameraBounds.ts
  src/web/Campaign.ts
  src/web/Entity.ts
  src/web/World.ts
  src/web/audio/SoundEmitter.ts
  src/web/entities/Fire.ts
  src/web/entities/Gate.ts
  src/web/entities/Player.ts
  src/web/entities/gates/ExitPortalDoor1.ts
  src/web/entities/gates/ShadowGateDoor1.ts
  src/web/scenes/GameScene.ts
Owners: none

Cleanup pointers
  src/web/Campaign.ts
  src/web/World.ts
  src/web/entities/CameraBounds.ts
  src/web/entities/Player.ts
  src/web/entities/Pointer.ts
  src/web/entities/PowerShiba.ts
  src/web/entities/Seed.ts
  src/web/entities/Shiba.ts
  src/web/entities/Stone.ts
  src/web/entities/Wood.ts
  src/web/entities/pointers/BossCloud.ts
  src/web/entities/pointers/BossSpawn.ts
  src/web/entities/pointers/Forest.ts
  src/web/entities/pointers/FriendshipPlayerPosition.ts
  src/web/entities/pointers/FriendshipShibaSpawn.ts
  src/web/entities/pointers/Mountain.ts
  src/web/entities/pointers/PlayerResetPosition.ts
  src/web/entities/pointers/PlayerSpawn.ts
  src/web/entities/pointers/PowerShibaMountainSpawn.ts
  src/web/entities/pointers/RainSpawnPosition.ts
  src/web/entities/pointers/RecoverFloatingPosition.ts
  src/web/entities/pointers/River.ts
  src/web/entities/pointers/SeedPosition.ts
  src/web/entities/pointers/ShibaMountainSpawn.ts
  src/web/entities/pointers/StoneFloatingPosition.ts
  src/web/entities/pointers/WindowZoomTarget.ts
  src/web/scenes/GameScene.ts
Owners: none

Fix closest NPC
  assets/maps/level.map.json
  src/web/Entity.ts
  src/web/entities/NPC.ts
  src/web/entities/Player.ts
Owners: none

Cleanup triggers
  assets/maps/level.map.json
  src/web/Entity.ts
  src/web/entities/Bird.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/Player.ts
  src/web/entities/Shiba.ts
  src/web/entities/triggers/BirdNestLeft.ts
  src/web/entities/triggers/BirdNestRight.ts
  src/web/entities/triggers/DirectionTrigger.ts
  src/web/entities/triggers/FinishMountainRiddle.ts
  src/web/entities/triggers/FlameBoyAction.ts
  src/web/entities/triggers/RaincloudSky.ts
  src/web/entities/triggers/ResetMountain.ts
  src/web/entities/triggers/ShibaAction.ts
  src/web/entities/triggers/ShibaStop.ts
  src/web/entities/triggers/Trigger.ts
  src/web/util/predicates.ts
Owners: none

use class name of game objects to map to entities
  assets/maps/level.map.json
  src/web/Entity.ts
  src/web/scenes/GameScene.ts
Owners: none

Fix lost floating tag so clouds are no longer falling down.
  src/web/entities/Cloud.ts
Owners: none

Update changelog.
  CHANGELOG.md
Owners: @headcr4sh

Remove unused code and make some properties readonly
  src/web/Entity.ts
  src/web/entities/triggers/DirectionTrigger.ts
  src/web/entities/triggers/Trigger.ts
Owners: none

Correct accidentaly moved world bounds
  assets/maps/level.map.json
Owners: none

Update all (dev)dependencies.
  package-lock.json
  package.json
Owners: none

Release v2.8.1.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Add support for fixed-width fonts.
  assets/fonts/credits.font.json
  assets/fonts/headline.font.json
  assets/fonts/pixcelsior.font.json
  assets/fonts/starchild.font.json
  assets/fonts/starchild.png
  src/web/BitmapFont.ts
  src/web/typings/font.json.d.ts
Owners: @eduke2k

[PoC] Use fixed-width font to demonstrate look and feel.
  src/shared/constants.ts
Owners: none

Fix class name
  assets/maps/level.map.json
Owners: none

Back to port 8000
  package.json
  src/web/util.ts
  webpack.config.ts
Owners: none

Simplify game object layering
  src/web/Renderer.ts
Owners: none

Move FPS counter from game scene to game.
  src/web/Game.ts
  src/web/scenes/GameScene.ts
Owners: none

Draw render items through a RenderNode which uses the scenes layering system.
  src/web/Menu.ts
  src/web/MountainRiddle.ts
  src/web/Renderer.ts
  src/web/entities/ExitPortal.ts
  src/web/entities/Portal.ts
  src/web/entities/Radio.ts
  src/web/entities/RiddleStone.ts
  src/web/scene/ControlTooltipNode.ts
  src/web/scene/RendererNode.ts
  src/web/scenes/CharacterSelectionScene.ts
  src/web/scenes/ControlsScene.ts
  src/web/scenes/CreditsScene.ts
  src/web/scenes/EndScene.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/GotItemScene.ts
  src/web/scenes/OptionsScene.ts
  src/web/scenes/PauseScene.ts
Owners: none

Rename GameObject setup to activate to be compatible to Scene Node
  src/web/Campaign.ts
  src/web/Entity.ts
  src/web/World.ts
  src/web/entities/ExitPortal.ts
  src/web/entities/Player.ts
  src/web/entities/Seed.ts
  src/web/entities/Stone.ts
  src/web/entities/Wood.ts
  src/web/scenes/GameObject.ts
  src/web/scenes/GameScene.ts
Owners: none

Make game objects also scene nodes
  src/web/Entity.ts
  src/web/World.ts
  src/web/entities/Player.ts
  src/web/entities/Seed.ts
  src/web/entities/Stone.ts
  src/web/entities/Wood.ts
  src/web/scene/RootNode.ts
  src/web/scene/SceneNode.ts
  src/web/scenes/GameObject.ts
  src/web/scenes/GameScene.ts
Owners: none

Pass through SceneNode arguments
  src/web/Entity.ts
Owners: none

Draw Skull as Scene Node
  src/web/entities/Skull.ts
Owners: none

Draw Bone as Scene Node
  src/web/entities/Bone.ts
Owners: none

Draw Campfire as Scene Node
  src/web/entities/Campfire.ts
Owners: none

Remove console log
  src/web/scene/RootNode.ts
Owners: none

Correct camera apply
  src/web/Camera.ts
  src/web/scenes/GameScene.ts
Owners: none

Draw Cloud as Scene Node
  src/web/Entity.ts
  src/web/entities/Cloud.ts
Owners: none

Move skull rendering to AsepriteNode
  src/web/entities/Skull.ts
Owners: none

Move bone rendering to AsepriteNode
  src/web/entities/Bone.ts
Owners: none

Move campfire rendering to AsepriteNode
  src/web/entities/Campfire.ts
Owners: none

Add support for custom canvas transformation (needed because of Tab-Zoom) and enable scene node bounding boxes to compare them with old bounding boxes.
  src/web/Game.ts
  src/web/Scene.ts
  src/web/Scenes.ts
  src/web/entities/Player.ts
  src/web/graphics/AffineTransform.ts
  src/web/scene/RootNode.ts
  src/web/scene/SceneNode.ts
  src/web/scenes/GameScene.ts
Owners: none

Move Player rendering to AsepriteNode
  src/web/entities/Player.ts
Owners: none

Move args to back so classes can override defaults
  src/web/Entity.ts
Owners: none

Move Sign rendering to AsepriteNode
  src/web/entities/Sign.ts
Owners: none

Fix initial player visibility
  src/web/entities/Fire.ts
  src/web/entities/Player.ts
  src/web/scene/SceneNode.ts
Owners: none

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr
