Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

Overhaul build process of webapp.
  README.md
  package-lock.json
  package.json
  webpack.config.ts
Owners: none

Fix minor typo in comment.
  src/constants.ts
Owners: none

Integrate TS into electron app packaging.
  webpack.config.ts
  webpack.main.config.js
  webpack.renderer.config.js
Owners: none

Fix issues reported by markdownlint.
  README.md
Owners: none

Update Electron to v21.1.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Store height of font characters in JSON.
  assets/fonts/credits.font.json
  assets/fonts/headline.font.json
  assets/fonts/pixcelsior.font.json
  src/BitmapFont.ts
  src/typings/font.json.d.ts
Owners: none

Prepare game for possible support of SNES-like controllers.
  .cspell.json
  src/input/GamepadModel.ts
  src/input/GamepadStyle.ts
  src/test/input/GamepadModel.test.ts
Owners: none

Add URL fragments / hashes to certain scenes.
  src/Scene.ts
  src/Scenes.ts
  src/scenes/ControlsScene.ts
  src/scenes/CreditsScene.ts
  src/scenes/GameScene.ts
  src/scenes/OptionsScene.ts
  src/scenes/PauseScene.ts
  src/scenes/TitleScene.ts
Owners: none

Update all (dev)dependencies.
  .cspell.json
  package-lock.json
  package.json
Owners: none

Remove reference to non-existent vscode extension.
  .vscode/extensions.json
Owners: @headcr4sh

Clean up code and comments.
  src/Animator.ts
Owners: none

Update all (dev)dependencies.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Fine-tune electron-forge configuration.
  electron-forge.config.js
Owners: none

Update GitHub workflows.
  .github/workflows/ci-build.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-build.yaml
Owners: @headcr4sh

Replace deprecated GitHub action.
  .github/workflows/ci-build.yaml
  .github/workflows/release-build.yaml
Owners: @headcr4sh

Fix all test errors.
  package.json
  src/input/GamepadModel.ts
  src/scenes/OptionsScene.ts
  src/test/input/GamepadModel.test.ts
Owners: none

Fix errors in GitHub workflows.
  .github/workflows/ci-build.yaml
  .github/workflows/release-build.yaml
Owners: @headcr4sh

Fix wrong arg name in GitHub workflow.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Fix yet another typo in GitHub pipeline.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Prepare release of the game's soundtrack.
  assets/music/a-vision-of-fire-acoustic.ogg
  assets/music/a-vision-of-fire-orchestral.ogg
  assets/music/a-vision-of-fire.ogg
  assets/music/cave.ogg
  assets/music/cerulean-expanse.ogg
  assets/music/dancing_queen.ogg
  assets/music/ecstasy.ogg
  assets/music/inferno.ogg
  assets/music/pause.ogg
  assets/music/radio.ogg
  assets/music/raindance.ogg
  assets/music/riddle.ogg
  assets/music/shadowgate.ogg
  assets/music/theme_01.ogg
  assets/music/wings.ogg
  branding/soundtrack/cover-1024x1024.png
  branding/soundtrack/cover-128x128.png
  branding/soundtrack/steam_album_metadata.csv
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

Fix typo.
  branding/soundtrack/steam_album_metadata.csv
Owners: none

Add soundtrack metadata CSV to cspell ignore.
  .cspell.json
Owners: none

Update ID3v2 tags in music and add script.
  assets/music/a-vision-of-fire-acoustic.ogg
  assets/music/a-vision-of-fire-orchestral.ogg
  assets/music/a-vision-of-fire.ogg
  assets/music/cave.ogg
  assets/music/cerulean-expanse.ogg
  assets/music/dancing_queen.ogg
  assets/music/ecstasy.ogg
  assets/music/inferno.ogg
  assets/music/pause.ogg
  assets/music/radio.ogg
  assets/music/raindance.ogg
  assets/music/riddle.ogg
  assets/music/shadowgate.ogg
  assets/music/theme_01.ogg
  assets/music/wings.ogg
  scripts/dist.soundtrack.sh
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

Update .cspell.json
  .cspell.json
Owners: none

Make sure Steam overlay is *really* enabled.
  src/electron-main.ts
Owners: none

Update all (dev)dependencies.
  .cspell.json
  CHANGELOG.md
  electron-forge.config.js
  package-lock.json
  package.json
  src/Conversation.ts
Owners: @headcr4sh

Refine build and packaging process.
  electron-forge.config.js
  package-lock.json
  package.json
Owners: none

Release v2.6.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Correctly format errors on console on init fails.
  src/electron-main.ts
Owners: none

Slightly change Electron init code.
  src/electron-main.ts
Owners: none

Fix loading of steam shared lib.
  CHANGELOG.md
  forge.config.ts
  package-lock.json
  package.json
  src/electron-main.ts
  tsconfig.json
  webpack.main.config.ts
  webpack.renderer.config.ts
Owners: @headcr4sh, @kayahr

Fix loading of steam shared lib.
  .cspell.json
  CHANGELOG.md
  forge.config.ts
  package-lock.json
  package.json
  src/electron-main.ts
  tsconfig.json
  webpack.main.config.ts
  webpack.renderer.config.ts
Owners: @headcr4sh, @kayahr

Fix wrong Electron version reference in changelog.
  CHANGELOG.md
Owners: @headcr4sh

Fix steam overlay issues.
  CHANGELOG.md
  package-lock.json
  package.json
  src/constants.ts
  src/electron-main.ts
  src/scenes/CreditsScene.ts
Owners: @headcr4sh

Fix wrong lookup of Electron preload script.
  CHANGELOG.md
  src/electron-main.ts
Owners: @headcr4sh

Release v2.6.1.
  CHANGELOG.md
  package.json
Owners: @headcr4sh

Update steam branding resources.
  branding/steam/broadcast-left-155x337.png
  branding/steam/broadcast-right-155x337.png
  branding/steam/header-capsule-460x215.xcf
  branding/steam/header-capsule-image-460x215.png
  branding/steam/library-capsule-600x900.png
  branding/steam/library-capsule-600x900.xcf
  branding/steam/library-logo-1280x720.png
  branding/steam/library-logo-1280x720.xcf
  branding/steam/library-logo-640x360.png
  branding/steam/main-capsule-image-616x353.png
  branding/steam/main-capsule-image-616x353.xcf
  branding/steam/small-capsule-image-231x87.png
  branding/steam/small-capsule-image-231x87.xcf
  branding/steam/vertical-capsule-374x448.png
  branding/steam/vertical-capsule-374x448.xcf
Owners: @eduke2k

Get rid of steal.js and clean up webpack build.
  forge.config.ts
  package-lock.json
  package.json
  src/index.html.ejs
  webpack.config.ts
  webpack.main.config.ts
  webpack.renderer.config.ts
Owners: none

Update all (dev)dependencies.
  package-lock.json
  package.json
Owners: none

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr
