Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

Fix carry animation
  src/web/entities/Player.ts
Owners: none

Fix fire visibility
  src/web/entities/Fire.ts
Owners: none

Improve Wood spawning
  src/web/Campaign.ts
  src/web/entities/PhysicsEntity.ts
  src/web/entities/Player.ts
  src/web/entities/Seed.ts
  src/web/entities/Tree.ts
  src/web/entities/Wood.ts
Owners: none

Move Wood rendering to AsepriteNode
  src/web/entities/Wood.ts
Owners: none

Improve Seed spawn and draw Seed by AsepriteNode
  src/web/Campaign.ts
  src/web/Face.ts
  src/web/Renderer.ts
  src/web/entities/Player.ts
  src/web/entities/Seed.ts
  src/web/entities/Tree.ts
  src/web/scenes/GameScene.ts
Owners: none

Disable physics for carried items
  src/web/entities/Bone.ts
  src/web/entities/Skull.ts
  src/web/entities/Stone.ts
Owners: none

Fix updating bounds when changing player height
  src/web/entities/Player.ts
Owners: none

Remove unused seed code
  src/web/entities/Player.ts
  src/web/entities/Tree.ts
Owners: none

Move Tree rendering to AsepriteNode
  src/web/entities/Tree.ts
Owners: none

Move Radio rendering to AsepriteNode
  src/web/entities/Radio.ts
Owners: none

Move Chicken rendering to AsepriteNode
  src/web/entities/Chicken.ts
Owners: none

Move Stone rendering to AsepriteNode
  src/web/entities/Stone.ts
Owners: none

Move Caveman rendering to AsepriteNode
  src/web/entities/Caveman.ts
Owners: none

Move Platform rendering to AsepriteNode
  src/web/entities/MovingPlatform.ts
Owners: none

Migrate to SceneNode aspect invalidation from FryFire
  .cspell.json
  src/web/graphics/AffineTransform.ts
  src/web/graphics/Bounds2.ts
  src/web/graphics/Polygon2.ts
  src/web/graphics/Size2.ts
  src/web/graphics/Vector2.ts
  src/web/scene/SceneNode.ts
  src/web/scenes/GameScene.ts
Owners: none

Move riddle stone rendering to AsepriteNode
  src/web/entities/RiddleStone.ts
Owners: none

Move Super Throw rendering to AsepriteNode
  src/web/entities/SuperThrow.ts
Owners: none

Move Wing rendering to AsepriteNode
  src/web/entities/Wing.ts
Owners: none

Move Wall rendering to AsepriteNode
  src/web/entities/Wall.ts
  src/web/entities/Wing.ts
Owners: none

Move PowerShiba rendering to AsepriteNode
  src/web/entities/PowerShiba.ts
Owners: none

Move Bird rendering to AsepriteNode
  src/web/entities/Bird.ts
Owners: none

Move FlameBoy rendering to AsepriteNode
  src/web/entities/Bird.ts
  src/web/entities/FlameBoy.ts
Owners: none

Move Stone Disciple rendering to AsepriteNode
  src/web/entities/StoneDisciple.ts
Owners: none

Move Shiba rendering to AsepriteNode
  src/web/entities/Shiba.ts
Owners: none

Move Dialogue Prompt rendering to AsepriteNode
  src/web/DialoguePrompt.ts
  src/web/entities/Fire.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/NPC.ts
  src/web/entities/PowerShiba.ts
  src/web/entities/ShadowPresence.ts
  src/web/entities/Shiba.ts
  src/web/entities/Stone.ts
  src/web/entities/StoneDisciple.ts
  src/web/entities/Tree.ts
  src/web/entities/Wing.ts
Owners: none

Remove scene cache
  src/web/Campaign.ts
  src/web/Scenes.ts
  src/web/scenes/GameScene.ts
Owners: none

Fix duplicate debug camera registration causing havoc
  src/web/Camera.ts
Owners: none

Finish working implementation of touch controls.
  .eslintrc.js
  index.html
  jest.config.ts
  manifest.webmanifest
  package-lock.json
  package.json
  src/touch-controls/TouchGamepad.ts
  src/touch-controls/VirtualGamepad.ts
  src/touch-controls/VirtualGamepadEvent.ts
  src/touch-controls/index.ts
  src/web/test/touch-controls/TouchGamepad.test.ts
  src/web/test/touch-controls/VirtualGamepad.test.ts
  src/web/test/touch-controls/VirtualGamepadEvent.test.ts
Owners: none

Fix size calculation issues.
  index.html
  src/touch-controls/TouchGamepad.ts
  src/web/Game.ts
Owners: none

Fix dependency tree issues.
  package-lock.json
  package.json
  tsconfig.json
Owners: @kayahr

Release v2.9.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Start next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Fix service worker issues.
  src/service-worker/Cache.ts
  src/service-worker/index.ts
  src/web/FriendlyFire.ts
  webpack.config.ts
Owners: none

Fix test method invocation.
  src/web/test/graphics/AffineTransform.test.ts
Owners: none

Release v2.9.1.
  .eslintrc.js
  CHANGELOG.md
  forge.config.ts
  package-lock.json
  package.json
Owners: @headcr4sh

Start next development iteration.
  package-lock.json
  package.json
Owners: none

Update Github actions, Nodejs, etc...
  .github/workflows/ci-build.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-build.yaml
Owners: @headcr4sh

Remove failing test.
  src/web/test/touch-controls/TouchGamepad.test.ts
Owners: none

Update macOS runners.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Update some devDependencies.
  package-lock.json
  package.json
Owners: none

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr
