Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Fix powerup sprites and use them as sprites instead of static images
  assets/sprites/powerup_doublejump.aseprite
  assets/sprites/powerup_doublejump.aseprite.json
  assets/sprites/powerup_multijump.aseprite
  assets/sprites/powerup_multijump.aseprite.json
  assets/sprites/powerup_running.aseprite
  assets/sprites/powerup_running.aseprite.json
  src/web/scenes/GotItemScene.ts
Owners: @eduke2k

Convert static heart image back into a sprite and implement sprite support in emitter instead
  assets/images/heart.png
  assets/sprites/heart.aseprite
  assets/sprites/heart.aseprite.json
  assets/sprites/heart.png
  src/web/Particles.ts
  src/web/entities/Shiba.ts
Owners: @eduke2k

Some fixes to support canvas scaling
  .cspell.json
  src/web/Camera.ts
  src/web/Renderer.ts
  src/web/Scene.ts
  src/web/scenes/GameScene.ts
Owners: none

Add 1 pixel margin between font colors to fix rendering glitch with scaled canvas
  src/web/BitmapFont.ts
Owners: none

Implement native resolution setting (just for testing)
  src/web/BitmapFont.ts
  src/web/DisplayManager.ts
  src/web/Game.ts
  src/web/scenes/OptionsScene.ts
Owners: none

Some fixes to support canvas scaling
  .cspell.json
  src/web/Camera.ts
  src/web/Renderer.ts
  src/web/Scene.ts
  src/web/scenes/GameScene.ts
Owners: none

Add 1 pixel margin between font colors to fix rendering glitch with scaled canvas
  src/web/BitmapFont.ts
Owners: none

Update changelog
  CHANGELOG.md
Owners: @headcr4sh

Removed ID3v2 tags from music ogg files and adjusted soundtrack dist script so it works with the already existing ogg metadata
  CHANGELOG.md
  assets/music/a-vision-of-fire-acoustic.ogg
  assets/music/a-vision-of-fire-orchestral.ogg
  assets/music/a-vision-of-fire.ogg
  assets/music/cave.ogg
  assets/music/cerulean-expanse.ogg
  assets/music/dancing_queen.ogg
  assets/music/ecstasy.ogg
  assets/music/inferno.ogg
  assets/music/pause.ogg
  assets/music/radio.ogg
  assets/music/raindance.ogg
  assets/music/riddle.ogg
  assets/music/shadowgate.ogg
  assets/music/theme_01.ogg
  assets/music/wings.ogg
  scripts/dist.soundtrack.sh
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

Refactor the multiple display options into a single Render Mode option.
  CHANGELOG.md
  src/web/BitmapFont.ts
  src/web/Camera.ts
  src/web/DisplayManager.ts
  src/web/Game.ts
  src/web/Menu.ts
  src/web/scenes/OptionsScene.ts
Owners: @headcr4sh

Display Options (#359)
  CHANGELOG.md
  src/web/BitmapFont.ts
  src/web/Camera.ts
  src/web/DisplayManager.ts
  src/web/Game.ts
  src/web/Menu.ts
  src/web/scenes/OptionsScene.ts
  src/web/typings/window.d.ts
  style.css
Owners: @headcr4sh

Update dependencies
  package-lock.json
  package.json
Owners: none

Replace require with async import
  src/electron-main/index.ts
Owners: none

Simplified default imports
  forge.config.ts
  src/electron-main/index.ts
  src/electron-preload/index.ts
  webpack.config.ts
  webpack.electron-renderer.config.ts
  webpack.plugins.ts
Owners: none

Fix more cyclic imports
  .eslintrc.js
  src/web/Dance.ts
  src/web/Renderer.ts
  src/web/SpeechBubble.ts
  src/web/entities/Bird.ts
  src/web/entities/Bone.ts
  src/web/entities/Campfire.ts
  src/web/entities/Caveman.ts
  src/web/entities/Chicken.ts
  src/web/entities/Cloud.ts
  src/web/entities/DummyNPC.ts
  src/web/entities/ExitPortal.ts
  src/web/entities/Fire.ts
  src/web/entities/FireState.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/Mimic.ts
  src/web/entities/MovingPlatform.ts
  src/web/entities/Player.ts
  src/web/entities/Portal.ts
  src/web/entities/Radio.ts
  src/web/entities/Seed.ts
  src/web/entities/ShadowPresence.ts
  src/web/entities/Shiba.ts
  src/web/entities/ShibaState.ts
  src/web/entities/Sign.ts
  src/web/entities/Skull.ts
  src/web/entities/Spider.ts
  src/web/entities/Stone.ts
  src/web/entities/StoneDisciple.ts
  src/web/entities/SuperThrow.ts
  src/web/entities/Tree.ts
  src/web/entities/Wall.ts
  src/web/entities/Window.ts
  src/web/entities/Wing.ts
  src/web/entities/Wood.ts
  src/web/scenes/FadeDirection.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/PowerShiba.ts
  src/web/util.ts
Owners: none

Fix cyclic import
  .eslintrc.js
  src/web/scenes/CreditsScene.ts
Owners: none

Fix scene handling
  src/web/Scene.ts
  src/web/scenes/CreditsScene.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/LoadingScene.ts
Owners: none

Disable import cycle detection for now
  .eslintrc.js
Owners: none

Fix display mode restore on debug map close
  src/web/Camera.ts
Owners: none

Removed unused code
  .cspell.json
  assets/dialog/spider1.dialog.json
  assets/sprites/eyes/spider.aseprite
  assets/sprites/eyes/spider.aseprite.json
  assets/sprites/eyes/spider.png
  assets/sprites/magicspider.aseprite
  assets/sprites/magicspider.aseprite.json
  assets/sprites/magicspider.png
  src/web/Campaign.ts
  src/web/Insets.ts
  src/web/entities/DummyNPC.ts
  src/web/entities/Player.ts
  src/web/entities/Spider.ts
Owners: @eduke2k

Use Aseprite typings from @kayahr/aseprite
  package-lock.json
  package.json
  src/web/Aseprite.ts
  src/web/typings/aseprite.json.d.ts
Owners: none

Refactor entity constructor arguments into named arguments
  src/web/Entity.ts
  src/web/MapInfo.ts
  src/web/audio/SoundEmitter.ts
  src/web/entities/Bird.ts
  src/web/entities/Bone.ts
  src/web/entities/Campfire.ts
  src/web/entities/Caveman.ts
  src/web/entities/Chicken.ts
  src/web/entities/Cloud.ts
  src/web/entities/ConversationProxy.ts
  src/web/entities/ExitPortal.ts
  src/web/entities/Fire.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/Mimic.ts
  src/web/entities/MovingPlatform.ts
  src/web/entities/PhysicsEntity.ts
  src/web/entities/Player.ts
  src/web/entities/Portal.ts
  src/web/entities/PowerShiba.ts
  src/web/entities/Radio.ts
  src/web/entities/RiddleStone.ts
  src/web/entities/Seed.ts
  src/web/entities/ShadowPresence.ts
  src/web/entities/Shiba.ts
  src/web/entities/Sign.ts
  src/web/entities/Skull.ts
  src/web/entities/Snowball.ts
  src/web/entities/Stone.ts
  src/web/entities/StoneDisciple.ts
  src/web/entities/SuperThrow.ts
  src/web/entities/Tree.ts
  src/web/entities/Wall.ts
  src/web/entities/Window.ts
  src/web/entities/Wing.ts
  src/web/entities/Wood.ts
  src/web/scenes/GameScene.ts
Owners: none

Update dependencies
  package-lock.json
  package.json
Owners: none

Remove unused cloud movement options and move moving platform properties to constructor arguments
  src/web/MapInfo.ts
  src/web/entities/Cloud.ts
  src/web/entities/MovingPlatform.ts
  src/web/scenes/GameScene.ts
Owners: none

Move row/col of riddle stone to constructor arguments.
  src/web/entities/RiddleStone.ts
  src/web/scenes/GameScene.ts
Owners: none

Move content property to constructor arguments
  src/web/entities/ConversationProxy.ts
  src/web/entities/Player.ts
  src/web/entities/Sign.ts
  src/web/scenes/GameScene.ts
Owners: none

Move Wall properties to constructor arguments
  src/web/Entity.ts
  src/web/entities/Wall.ts
  src/web/scenes/GameScene.ts
Owners: none

Get rid of all special entity creations
  src/web/scenes/GameScene.ts
Owners: none

Centralize bounds drawing
  src/web/Entity.ts
  src/web/entities/Bird.ts
  src/web/entities/Bone.ts
  src/web/entities/Campfire.ts
  src/web/entities/Caveman.ts
  src/web/entities/Chicken.ts
  src/web/entities/ConversationProxy.ts
  src/web/entities/ExitPortal.ts
  src/web/entities/Fire.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/Mimic.ts
  src/web/entities/MovingPlatform.ts
  src/web/entities/Player.ts
  src/web/entities/Portal.ts
  src/web/entities/PowerShiba.ts
  src/web/entities/Radio.ts
  src/web/entities/RiddleStone.ts
  src/web/entities/Seed.ts
  src/web/entities/ShadowPresence.ts
  src/web/entities/Shiba.ts
  src/web/entities/Sign.ts
  src/web/entities/Skull.ts
  src/web/entities/Snowball.ts
  src/web/entities/Stone.ts
  src/web/entities/StoneDisciple.ts
  src/web/entities/SuperThrow.ts
  src/web/entities/Tree.ts
  src/web/entities/Wall.ts
  src/web/entities/Window.ts
  src/web/entities/Wing.ts
  src/web/entities/Wood.ts
  src/web/scene/RootNode.ts
  src/web/scene/SceneNode.ts
  src/web/scenes/GameScene.ts
Owners: none

Update Electron to v28.2.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Release v2.8.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Start new development cycle.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Add title screen screenshot to web app manifest.
  CHANGELOG.md
  assets/screenshots/title.webp
  manifest.webmanifest
Owners: @headcr4sh

Add sprites to represent steamdeck controls.
  assets/sprites/Makefile
  assets/sprites/buttons_steamdeck.aseprite
  assets/sprites/buttons_steamdeck.aseprite.json
  assets/sprites/buttons_steamdeck.png
  assets/sprites/gamepad_selection.aseprite
  assets/sprites/gamepad_selection.aseprite.json
  assets/sprites/gamepad_selection.png
Owners: @eduke2k

Add image representing NES-like controllers.
  assets/sprites/gamepad_selection.aseprite
  assets/sprites/gamepad_selection.aseprite.json
  assets/sprites/gamepad_selection.png
Owners: @eduke2k

Add 'webp' to cspell configuration.
  .cspell.json
Owners: none

Use @kayahr/tiled for loading map and remove unused map info code.
  assets/maps/level.map.json
  package-lock.json
  package.json
  src/web/MapInfo.ts
  src/web/typings/map.json.d.ts
  src/web/util.ts
Owners: none

Re-save tiled map with newest Tiled version and better compression
  assets/maps/level.map.json
Owners: none

Remove bg2 and bg3 aseprite
  assets/maps/bg2.aseprite
  assets/maps/bg3.aseprite
Owners: @eduke2k

Remove unused files
  assets/maps/level_test.png
  assets/maps/tilemap_old.aseprite
Owners: @eduke2k
