Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Make face a scene node and fix some dialogue prompts
  src/Chicken.ts
  src/Face.ts
  src/Fire.ts
  src/FlameBoy.ts
  src/Mimic.ts
  src/NPC.ts
  src/Radio.ts
  src/Seed.ts
  src/Stone.ts
  src/StoneDisciple.ts
  src/Tree.ts
Owners: none

Fix speec bubble viewport clipping
  src/SpeechBubble.ts
Owners: none

Refactor animator
  src/Animator.ts
  src/Mimic.ts
  src/Portal.ts
  src/Renderer.ts
Owners: none

Get rid of drawAseprite in renderer
  src/Bird.ts
  src/Bone.ts
  src/Campfire.ts
  src/Caveman.ts
  src/Chicken.ts
  src/Cloud.ts
  src/DialoguePrompt.ts
  src/FlameBoy.ts
  src/MovingPlatform.ts
  src/NPC.ts
  src/Player.ts
  src/PowerShiba.ts
  src/Radio.ts
  src/Renderer.ts
  src/RiddleStone.ts
  src/Seed.ts
  src/Shiba.ts
  src/Skull.ts
  src/Spider.ts
  src/Stone.ts
  src/StoneDisciple.ts
  src/SuperThrow.ts
  src/Tree.ts
  src/Wall.ts
  src/Wing.ts
  src/Wood.ts
Owners: none

Get rid of aseprite rendering in renderer
  src/Face.ts
  src/Renderer.ts
  src/ShadowPresence.ts
  src/Sign.ts
  src/Spider.ts
Owners: none

Remove obsolete order
  src/Renderer.ts
Owners: none

Refactor animation API and play with camera
  src/Camera.ts
  src/Entity.ts
  src/Player.ts
  src/Scene.ts
  src/Scenes.ts
  src/World.ts
  src/geom/Rect.ts
  src/graphics/Bounds2.ts
  src/graphics/Polygon2.ts
  src/scene/Camera.ts
  src/scene/SceneNode.ts
  src/scene/animations/Animation.ts
  src/scene/animations/Animator.ts
  src/scene/animations/ParallelAnimations.ts
  src/scene/animations/SequentialAnimations.ts
  src/scene/camera/CinematicBars.ts
  src/scene/camera/FadeToBlack.ts
  src/scenes/CreditsScene.ts
  src/scenes/EndScene.ts
  src/scenes/GotItemScene.ts
  src/scenes/LoadingScene.ts
  src/scenes/TestScene.ts
  src/scenes/TitleScene.ts
  src/util.ts
Owners: none

Work on (headless) test runner.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Report code coverage to SonarCloud.
  .github/workflows/ci-build.yaml
  sonar-project.properties
Owners: @headcr4sh

Update devDependencies.
  package-lock.json
  package.json
Owners: none

getter to property
  src/Campaign.ts
  src/Fire.ts
  src/Player.ts
  src/PlayerConversation.ts
  src/Scene.ts
  src/Shiba.ts
  src/SpeechBubble.ts
  src/World.ts
  src/scenes/GameScene.ts
  src/scenes/TestScene.ts
Owners: none

Work on unit tests / linters.
  .github/workflows/ci-build.yaml
  package.json
  src/test/input/ControllerEvent.test.ts
Owners: @headcr4sh

Don't break build immediately if eslint fails.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Fix linting error in unit test.
  src/test/input/ControllerEvent.test.ts
Owners: none

Better camera limit
  src/Campaign.ts
  src/Player.ts
  src/SpeechBubble.ts
  src/scene/Camera.ts
  src/scenes/GameScene.ts
Owners: none

Fix scene property clash
  src/Animator.ts
  src/Bird.ts
  src/Bone.ts
  src/Cloud.ts
  src/Conversation.ts
  src/ConversationProxy.ts
  src/Dance.ts
  src/Entity.ts
  src/Face.ts
  src/Fire.ts
  src/FlameBoy.ts
  src/NPC.ts
  src/PhysicsEntity.ts
  src/Player.ts
  src/Portal.ts
  src/PowerShiba.ts
  src/RiddleStone.ts
  src/ScriptableNPC.ts
  src/Seed.ts
  src/ShadowPresence.ts
  src/Shiba.ts
  src/Skull.ts
  src/SoundEmitter.ts
  src/SpeechBubble.ts
  src/Spider.ts
  src/Stone.ts
  src/Tree.ts
  src/Wing.ts
  src/Wood.ts
  src/World.ts
  src/scene/SceneNode.ts
Owners: none

cleanups
  src/Entity.ts
  src/Scene.ts
  src/graphics/Size2.ts
  src/scene/Camera.ts
  src/scene/SceneNode.ts
  src/scenes/GameScene.ts
Owners: none

Remove unused Effect interface
  src/scene/effects/Effect.ts
Owners: none

bugfixes and unit tests
  .cspell.json
  src/Scene.ts
  src/scene/AsepriteNode.ts
  src/scene/ProgressBarNode.ts
  src/scene/SceneNode.ts
  src/scenes/GameScene.ts
  src/test/scene/SceneNode.test.ts
Owners: none

Refactor particle node
  src/Bird.ts
  src/Cloud.ts
  src/Fire.ts
  src/Particles.ts
  src/Player.ts
  src/Shiba.ts
  src/World.ts
  src/graphics/Bounds2.ts
  src/graphics/Polygon2.ts
  src/scene/SceneNode.ts
  src/scenes/GameScene.ts
Owners: none

Update README.
  README.md
Owners: none

Update all (dev)dependencies.
  package-lock.json
  package.json
Owners: none

Fix compilation bug in function.
  src/util.ts
Owners: none

Update GitHub actions.
  .github/workflows/ci-build.yaml
  .github/workflows/release-build.yaml
Owners: @headcr4sh

Revert webpack back to v4.
  package-lock.json
  package.json
Owners: none

Fix typo in build output.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

update dog and male npc to support dog petting
  assets/sprites/pc/male.aseprite
  assets/sprites/pc/male.aseprite.json
  assets/sprites/pc/male.png
  assets/sprites/shiba.aseprite
  assets/sprites/shiba.aseprite.json
  assets/sprites/shiba.png
Owners: @eduke2k

Fix promise logic (for real this time).
  src/util.ts
Owners: none

Revert more dependencies to fix webpack-dev-server launch.
  package-lock.json
  package.json
Owners: none

add alternative he-man reference when playing as female
  assets/dialog/stone1.dialog.json
Owners: @eduke2k

Fix bug where end scene was not cleaned up and ending labels were rendererd on top of each other
  src/scenes/EndScene.ts
Owners: none

first implementation of new pet the dog ending
  assets/dialog/shiba1.dialog.json
  assets/sprites/heart.aseprite
  assets/sprites/heart.png
  assets/sprites/pc/female.aseprite
  assets/sprites/pc/female.aseprite.json
  assets/sprites/pc/female.png
  assets/sprites/pc/male.aseprite
  assets/sprites/pc/male.aseprite.json
  assets/sprites/shiba.aseprite
  assets/sprites/shiba.aseprite.json
  src/Bird.ts
  src/Campaign.ts
  src/Player.ts
  src/Quests.ts
  src/Renderer.ts
  src/Shiba.ts
  src/World.ts
  src/constants.ts
  src/scenes/GameScene.ts
Owners: @eduke2k

add text crawl when peting dog
  src/scenes/GameScene.ts
Owners: none

fix some last logic issues
  src/Player.ts
  src/scenes/GameScene.ts
Owners: none

finalize new petting ending
  assets/music/ecstasy.ogg
  src/constants.ts
  src/scenes/GameScene.ts
Owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn

add additiojnal petting option in first dialog tree
  assets/dialog/shiba1.dialog.json
Owners: @eduke2k

add new ending label to cspell
  .cspell.json
Owners: none

fix typos
  assets/dialog/shiba1.dialog.json
Owners: @eduke2k

Add Electron to v11.0.3 and markdownlint to v0.22.0.
  package.json
Owners: none

bugifx: disallow reset of cone through dialog when it was already planted
  assets/dialog/tree1.dialog.json
Owners: @eduke2k
