Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Enable key-spacing eslint rule
  .eslintrc.js
  src/web/scenes/TitleScene.ts
Owners: none

Enable eol-last eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/space-before-function-paren eslint rule
  .eslintrc.js
  src/web/Animator.ts
  src/web/Campaign.ts
  src/web/CharacterSounds.ts
  src/web/Face.ts
  src/web/FriendlyFire.ts
  src/web/GlobalState.ts
  src/web/Menu.ts
  src/web/Quests.ts
  src/web/Renderer.ts
  src/web/World.ts
  src/web/entities/ExitPortal.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/Player.ts
  src/web/entities/Seed.ts
  src/web/entities/Shiba.ts
  src/web/entities/Stone.ts
  src/web/entities/Wood.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/OptionsScene.ts
  src/web/scenes/TitleScene.ts
Owners: none

Enmable @typescript-eslint/quotes eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/no-useless-constructor eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/no-unused-expressions eslint rule
  .eslintrc.js
  src/web/test/input/GamepadModel.test.ts
Owners: none

Enable @typescript-eslint/no-extra-semi eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/no-dupe-class-members eslint rule
  .eslintrc.js
Owners: none

Enable "@typescript-eslint/func-call-spacing" eslint rule
  .eslintrc.js
  src/web/World.ts
  src/web/entities/Seed.ts
  src/web/entities/Stone.ts
  src/web/entities/Wall.ts
  src/web/entities/Wood.ts
  src/web/scenes/GameScene.ts
Owners: none

Enable @typescript-eslint/default-param-last eslint rule
  .eslintrc.js
Owners: none

Enable "@typescript-eslint/comma-spacing" eslint rule
  .eslintrc.js
  src/web/entities/Player.ts
  src/web/input/GamepadModel.ts
Owners: none

Configure @typescript-eslint/brace-style eslint rule from error to warning
  .eslintrc.js
Owners: none

Enable @typescript-eslint/triple-slash-reference eslint rule
  .eslintrc.js
Owners: none

Enable @typescript-eslint/switch-exhaustiveness-check eslint rule
  .eslintrc.js
  src/web/input/ControllerManager.ts
Owners: none

Fix single instance lock
  src/electron-main/index.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule but with lots of exceptions which must be fixed one by one
  .eslintrc.js
  src/web/Aseprite.ts
  src/web/BitmapFont.ts
  src/web/Campaign.ts
  src/web/Dance.ts
  src/web/Entity.ts
  src/web/PlayerConversation.ts
  src/web/entities/Fire.ts
  src/web/entities/Player.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for nullable objects
  .eslintrc.js
  src/web/Quests.ts
  src/web/World.ts
  src/web/audio/SoundEmitter.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for any types
  .eslintrc.js
  src/electron-main/index.ts
  src/web/GlobalState.ts
  src/web/scenes/TitleScene.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for enums
  .eslintrc.js
  src/web/Particles.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for strings
  .eslintrc.js
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for numbers
  .eslintrc.js
Owners: none

Enable @typescript-eslint/strict-boolean-expressions for nullable strings
  .eslintrc.js
  src/touch-controls/TouchGamepad.ts
  src/web/BitmapFont.ts
  src/web/Conversation.ts
  src/web/ConversationProxy.ts
  src/web/GlobalState.ts
  src/web/Greeting.ts
  src/web/MapInfo.ts
  src/web/Renderer.ts
  src/web/Scenes.ts
  src/web/audio/AudioPreferencesStore.ts
  src/web/audio/SoundEmitter.ts
  src/web/entities/Player.ts
  src/web/entities/Sign.ts
  src/web/entities/Spider.ts
  src/web/entities/Wall.ts
  src/web/input/GamepadModel.ts
  src/web/util.ts
Owners: none

fix electron-squirrel-startup check
  src/electron-main/index.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for nullable numbers
  .eslintrc.js
  src/web/Particles.ts
  src/web/Renderer.ts
  src/web/audio/SoundEmitter.ts
  src/web/entities/FlameBoy.ts
  src/web/entities/Player.ts
  src/web/entities/RiddleStone.ts
  src/web/entities/Shiba.ts
Owners: none

Enable @typescript-eslint/strict-boolean-expressions eslint rule for nullable booleans
  .eslintrc.js
  src/web/Renderer.ts
  src/web/World.ts
  src/web/entities/Bird.ts
  src/web/entities/Player.ts
  src/web/entities/Shiba.ts
  src/web/scenes/GameScene.ts
  src/web/scenes/TitleScene.ts
Owners: none

Enable @typescript-eslint/prefer-nullish-coalescing eslint rule
  .eslintrc.js
  src/web/Conversation.ts
  src/web/Particles.ts
  src/web/entities/Player.ts
  src/web/entities/Spider.ts
  src/web/input/GamepadInput.ts
  src/web/input/Keyboard.ts
Owners: none

Extend @typescript-eslint/recommended-requiring-type-checking eslint rules
  .eslintrc.js
  src/electron-main/index.ts
  src/service-worker/Cache.ts
  src/touch-controls/VirtualGamepad.ts
  src/web/MapInfo.ts
  src/web/PlayerConversation.ts
  src/web/entities/Player.ts
  src/web/entities/Spider.ts
  src/web/graphics.ts
  src/web/input/ControllerEvent.ts
  src/web/input/GamepadInput.ts
  src/web/scenes/OptionsScene.ts
  src/web/typings/map.json.d.ts
Owners: none

Move stuff from window declaration to already existing global declaration
  src/web/typings/global.d.ts
  src/web/typings/window.d.ts
Owners: none

Replace Symbol-madness with hash-private property
  src/web/input/ControllerEvent.ts
Owners: none

Remove dialog which gives beard because this feature isn't there anymore (Closes #360)
  .cspell.json
  assets/dialog/stone1.dialog.json
  assets/sprites/pc/male_head_beard.png
Owners: @eduke2k

Fix debug camera zoom out
  src/web/Camera.ts
Owners: none

Update dependencies and add ts-node again
  package-lock.json
  package.json
Owners: none

Switch to linear filtering and image smoothing when using debug camera zoom
  src/web/Camera.ts
Owners: none

Fix background position calculation
  src/web/World.ts
Owners: none

Fix background graphics
  assets/maps/bg.png
  assets/maps/bg2.png
  assets/maps/bg3.png
Owners: @eduke2k

Show special background image in debug zoom-out mode
  assets/maps/bg-debug.png
  src/web/Camera.ts
  src/web/World.ts
Owners: @eduke2k

Added music note character to tree dialog to indicate it is singing
  CHANGELOG.md
  assets/dialog/tree0.dialog.json
  assets/dialog/tree1.dialog.json
Owners: @headcr4sh, @eduke2k

Update changelog
  CHANGELOG.md
Owners: @headcr4sh

Fixed initial tree and fire state in NewGame+.
  CHANGELOG.md
  src/web/scenes/GameScene.ts
Owners: @headcr4sh

Convert heart sprite into static image and make emitter larger so the heart is actually recognizable.
  CHANGELOG.md
  assets/images/heart.png
  assets/sprites/heart.aseprite
  assets/sprites/heart.aseprite.json
  assets/sprites/heart.png
  src/web/entities/Shiba.ts
Owners: @headcr4sh, @eduke2k
