Repository friendlyfiregame/friendlyfiregame, changes with the owners that .github/CODEOWNERS names for each.
All owners: @headcr4sh, @eduke2k, @m2u-84, @BastianLangBonn, @kayahr

.github/CODEOWNERS:

# Continuous integration workflows
/.github/workflows/ @headcr4sh

# Editor configuration and IDE integration
/.editorconfig @headcr4sh
/.mailmap @headcr4sh
/.vscode/ @headcr4sh

# Change log
/CHANGELOG.md @headcr4sh

# Artwork
*.aseprite @eduke2k
*.aseprite.json @eduke2k
*.png @eduke2k

# Dialogues
/assets/dialog/*.dialog.json @eduke2k

# Music and SFX
/assets/music/* @headcr4sh @eduke2k @m2u-84 @BastianLangBonn

# TypeScript code style
/tsconfig.json @kayahr
/.eslintrc @kayahr

Clean up.
  .cspell.json
  .editorconfig
  .eslintignore
  .eslintrc.js
  .github/workflows/ci-build.yaml
  .mailmap
  .npmpackagejsonlintrc.json
  CHANGELOG.md
  forge.config.ts
  index.html
  package-lock.json
  package.json
  src/display/FullscreenManager.ts
  src/electron-main.ts
  src/electron-preload.ts
  tsconfig.json
  webpack.config.ts
  webpack.electron-main.config.ts
  webpack.electron-renderer.config.ts
  webpack.main.config.ts
  webpack.plugins.ts
  webpack.renderer.config.ts
  webpack.rules.ts
Owners: @headcr4sh, @kayahr

Overhaul Electron package processing.
  .github/workflows/ci-build.yaml
Owners: @headcr4sh

Release v2.6.2.
  CHANGELOG.md
  package-lock.json
  package.json
  src/scenes/CreditsScene.ts
Owners: @headcr4sh

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: none

Update all (dev)dependencies.
  .cspell.json
  CHANGELOG.md
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.ts
Owners: @headcr4sh, @kayahr

Update changelog and increment version.
  CHANGELOG.md
  package.json
Owners: @headcr4sh

Reformat CHANGELOG.
  CHANGELOG.md
Owners: @headcr4sh

Update all (dev)dependencies.
  .cspell.json
  .htmlhintrc
  .markdownlint.json
  package-lock.json
  package.json
Owners: none

Slightly clean up audio package.
  src/audio/SoundEmitter.ts
Owners: none

Update all (dev)dependencies.
  package-lock.json
  package.json
Owners: none

Update all (dev)dependencies.
  package-lock.json
  package.json
Owners: none

Make webapp offline-first / PWA.
  CHANGELOG.md
  index.html
  manifest.webmanifest
  package-lock.json
  package.json
  src/service-worker/Cache.ts
  src/service-worker/index.ts
  src/service-worker/tsconfig.json
  src/web/FriendlyFire.ts
  style.css
  webpack.config.ts
  webpack.electron-main.config.ts
  webpack.electron-preload.config.ts
  webpack.electron-renderer.config.ts
  webpack.plugins.ts
Owners: @headcr4sh

Use loadURL in Electron main process.
  src/electron-main/index.ts
  webpack.electron-main.config.ts
  webpack.electron-preload.config.ts
  webpack.electron-renderer.config.ts
Owners: none

Release v2.7.0.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Prepare for next development iteration.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Update all (dev)dependencies.
  package-lock.json
  package.json
Owners: none

Add unfinished support for touch gamepad.
  .cspell.json
  assets/touch-controls/button-a.svg
  assets/touch-controls/button-b.svg
  assets/touch-controls/button-l1.svg
  assets/touch-controls/button-l2.svg
  assets/touch-controls/button-l3.svg
  assets/touch-controls/button-r1.svg
  assets/touch-controls/button-r2.svg
  assets/touch-controls/button-r3.svg
  assets/touch-controls/button-screenshot.svg
  assets/touch-controls/button-select.svg
  assets/touch-controls/button-start.svg
  assets/touch-controls/button-vendor.svg
  assets/touch-controls/button-x.svg
  assets/touch-controls/button-y.svg
  assets/touch-controls/dpad.svg
  assets/touch-controls/stick-left.svg
  assets/touch-controls/stick-right.svg
  index.html
  package-lock.json
  package.json
  src/service-worker/index.ts
  src/touch-controls/TouchGamepad.ts
  src/touch-controls/VirtualGamepad.ts
  src/touch-controls/VirtualGamepadEvent.ts
  src/touch-controls/index.ts
  src/touch-controls/tsconfig.json
  src/touch-controls/typings/svg.d.ts
  src/web/FriendlyFire.ts
  src/web/input/GamepadInput.ts
  src/web/input/GamepadModel.ts
  style.css
  touch-controls-test.html
  webpack.config.ts
  webpack.rules.ts
Owners: none

Add guard to protocol handler registration.
  src/web/FriendlyFire.ts
Owners: none

Update all (dev)dependencies.
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @headcr4sh

Fix minor type in script.
  scripts/dist.soundtrack.sh
Owners: none

Add optional missing import.
  src/electron-main/index.ts
Owners: none

Use scalable ICO file on windows systems.
  CHANGELOG.md
  assets/appicon.ico
  assets/favicon.ico
  scripts/create-icon-bundles.sh
  src/electron-main/index.ts
Owners: @headcr4sh

Simplify code.
  src/service-worker/Cache.ts
Owners: none

Update all (dev)dependencies.
  CHANGELOG.md
  forge.config.ts
  package-lock.json
  package.json
  src/electron-main/tsconfig.json
  src/web/FriendlyFire.ts
Owners: @headcr4sh

Update *all* (dev)dependencies.
  .github/workflows/ci-build.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release-build.yaml
  CHANGELOG.md
  package-lock.json
  package.json
  src/electron-main/tsconfig.json
  src/electron-preload/tsconfig.json
  src/service-worker/tsconfig.json
  src/shared/tsconfig.json
  src/touch-controls/VirtualGamepad.ts
  src/touch-controls/tsconfig.json
  src/web/tsconfig.json
  src/web/typings/global.d.ts
  webpack.config.ts
Owners: @headcr4sh

Fix Jest-based unit tests.
  jest.config.ts
  package-lock.json
  package.json
  src/electron-preload/tsconfig.json
  src/service-worker/tsconfig.json
  src/shared/tsconfig.json
  src/touch-controls/tsconfig.json
  src/web/test/geom/Direction.test.ts
  src/web/test/graphics/AffineTransform.test.ts
  src/web/test/graphics/Vector2.test.ts
  src/web/test/input/ControllerEvent.test.ts
  src/web/test/input/GamepadModel.test.ts
  src/web/test/util.test.ts
  src/web/tsconfig.json
  tsconfig.json
Owners: @kayahr

Remove defunct reference to tsconfig.
  src/electron-main/tsconfig.json
Owners: none

Use Node.js v20.x to build sources.
  .github/workflows/ci-build.yaml
  tsconfig.json
Owners: @headcr4sh, @kayahr

Fine-tune tsconfig.json.
  tsconfig.json
Owners: @kayahr

Change behavior of compile script in package.json.
  package-lock.json
  package.json
Owners: none

Update dependencies
  package-lock.json
  package.json
Owners: none

Remove useless npx calls
  package.json
Owners: none

Use prepare instead of prepublish
  package.json
Owners: none

Remove silent parameters so we can see what happens
  package.json
Owners: none

Compile sources on prepare so unit tests can work
  package.json
Owners: none

Remove ts-jest and unused ts-node
  jest.config.ts
  package-lock.json
  package.json
Owners: none

Fix dev server
  package.json
  webpack.config.ts
Owners: none

Only register service worker in production mode
  package.json
  src/web/FriendlyFire.ts
  webpack.config.ts
Owners: none

Clean project before compile in prepare phase
  package.json
Owners: none

Automatically determine devtool in webpack config
  package.json
  webpack.config.ts
Owners: none
